{
    "Stuns": [
        {
            "Proto": "udp",
            "URI": "stun:{{ netbird_external_domain }}:{{ netbird_stun_port }}",
            "Username": "",
            "Password": null
        }
    ],
    "TURNConfig": {
        "Turns": [
            {
                "Proto": "udp",
                "URI": "turn:{{ netbird_external_domain }}:{{ netbird_stun_port }}",
                "Username": "{{ turn_user }}",
                "Password": "{{ turn_password }}"
            }
        ],
        "CredentialsTTL": "12h",
        "Secret": "secret",
        "TimeBasedCredentials": false
    },
    "Relay": {
        "Addresses": ["{{ netbird_external_domain }}:{{ netbird_relay_port }}"],
        "CredentialsTTL": "24h",
        "Secret": "{{ relay_auth_secret }}"
    },
    "Signal": {
        "Proto": "{{ netbird_signal_protocol }}",
        "URI": "{{ netbird_external_domain }}:{{ netbird_signal_port }}",
        "Username": "",
        "Password": null
    },
    "HttpConfig": {
        "Address": "0.0.0.0:80",
        "AuthIssuer": "http://{{ netbird_external_domain }}:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}",
        "AuthAudience": "netbird-client",
        "AuthKeysLocation": "http://keycloak:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}/protocol/openid-connect/certs",
        "AuthUserIDClaim": "sub",
        "IdpSignKeyRefreshEnabled": {{ netbird_mgmt_idp_signkey_refresh | lower }},
        "OIDCConfigEndpoint": "http://keycloak:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}/.well-known/openid-configuration"
    },
    "IdpManagerConfig": {
        "ManagerType": "keycloak",
        "ClientConfig": {
            "Issuer": "http://keycloak:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}",
            "TokenEndpoint": "http://keycloak:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}/protocol/openid-connect/token",
            "ClientID": "netbird-management",
            "ClientSecret": "{{ keycloak_mgmt_secret }}",
            "GrantType": "client_credentials"
        },
        "ExtraConfig": {
            "AdminEndpoint": "http://keycloak:{{ netbird_keycloak_port }}/admin/realms/{{ keycloak_realm }}"
        }
    },
    "DeviceAuthorizationFlow": {
        "Provider": "keycloak",
        "ProviderConfig": {
            "Audience": "netbird-client",
            "ClientID": "netbird-device",
            "TokenEndpoint": "http://{{ netbird_external_domain }}:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}/protocol/openid-connect/token",
            "DeviceAuthEndpoint": "http://{{ netbird_external_domain }}:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}/protocol/openid-connect/auth/device",
            "Scope": "openid profile email",
            "UseIDToken": false
        }
    },
    "PKCEAuthorizationFlow": {
        "ProviderConfig": {
            "Audience": "netbird-client",
            "ClientID": "netbird-client",
            "ClientSecret": "{{ netbird_auth_client_secret }}",
            "AuthorizationEndpoint": "http://{{ netbird_external_domain }}:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}/protocol/openid-connect/auth",
            "TokenEndpoint": "http://{{ netbird_external_domain }}:{{ netbird_keycloak_port }}/realms/{{ keycloak_realm }}/protocol/openid-connect/token",
            "Scope": "openid profile email",
            "RedirectURLs": ["http://{{ netbird_external_domain }}:{{ netbird_dashboard_port }}/"],
            "UseIDToken": false
        }
    },
    "StoreConfig": {
        "Engine": "postgres"
    },
    "DataStoreEncryptionKey": "{{ datastore_enc_key }}"
}
