prometheus:
  alertmanager:
    enabled: false
  kube-state-metrics:
    enabled: true
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false
  serviceAccount:
  annotations:
    iam.gke.io/gcp-service-account: gke-observability-sa@observe-472521.iam.gserviceaccount.com
  
  server:
    persistentVolume:
      enabled: true
      size: 3Gi
    retention: 7d
    service:
      type: ClusterIP
      port: 80
      targetPort: 9090
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/hostname: prometheus.monitoring.observe.camer.digital
    global:
      evaluation_interval: 15s
      scrape_interval: 15s
      external_labels:
        cluster: monitoring-cluster
        environment: production
    
    remoteWrite:
      - url: http://monitoring-stack-mimir-nginx:80/api/v1/push
        queue_config:
          capacity: 10000
          max_shards: 200
          min_shards: 1
          max_samples_per_send: 5000
          batch_send_deadline: 5s
          min_backoff: 30ms
          max_backoff: 5s
  
  extraScrapeConfigs: |
    - job_name: loki
      static_configs:
        - targets: ['monitoring-stack-loki-gateway:80']
          labels:
            instance: 'loki'
            cluster: 'k8s'
    
    - job_name: grafana
      static_configs:
        - targets: ['monitoring-stack-grafana:80']
          labels:
            instance: 'grafana'
            cluster: 'k8s'
    
    - job_name: mimir-distributor
      static_configs:
        - targets: ['monitoring-stack-mimir-distributor:8080']
          labels:
            instance: 'mimir-distributor'
            cluster: 'k8s'
    
    - job_name: tempo
      static_configs:
        - targets: ['monitoring-stack-tempo:3200']
          labels:
            instance: 'tempo'
            cluster: 'k8s'