tempo-distributed:
  serviceAccount:
    create: false
    name: observability-sa
    annotations:
      iam.gke.io/gcp-service-account: <GCP_SERVICE_ACCOUNT_EMAIL>

  # Global Overrides
  global_overrides:
    per_tenant_override_config: /runtime-config/overrides.yaml
    defaults:
      metrics_generator:
        processors: [service-graphs, span-metrics]

  # Storage (GCS)
  storage:
    trace:
      backend: gcs
      gcs:
        bucket_name: <GCS_BUCKET_NAME>
        chunk_buffer_size: 10485760
    wal:
      path: /var/tempo/wal

  # Enable OTLP Receivers (This automatically exposes ports on Service)
  traces:
    otlp:
      grpc:
        enabled: true
      http:
        enabled: true
    jaeger:
      thriftCompact:
        enabled: true
      thriftHttp:
        enabled: true
    zipkin:
      enabled: true

  # Distributor
  distributor:
    replicas: 1
    ring:
      replication_factor: 1
    config:
      log_received_spans:
        enabled: false

  # Ingester
  ingester:
    replicas: 1
    config:
      replication_factor: 1
      trace_idle_period: 10s
      max_block_bytes: 1_000_000
      max_block_duration: 5m

  # Compactor
  compactor:
    replicas: 1
    config:
      compaction:
        block_retention: 720h

  # Querier
  querier:
    replicas: 1

  # Query Frontend
  queryFrontend:
    replicas: 1
    config:
      search:
        duration_slo: 5s
        throughput_bytes_slo: 1.074e+09

  # Gateway
  gateway:
    enabled: true
    replicas: 1
    ingress:
      enabled: false
    service:
      type: ClusterIP

  memcached:
    enabled: true

  memcachedExporter:
    enabled: false
