global
    log /dev/log local0
    log /dev/log local1 notice
    stats socket /run/haproxy.sock mode 660 level admin
    stats timeout 30s
    user root
    group root
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # SSL configuration
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend https_in
    bind *:80
    bind *:443 ssl crt /etc/haproxy/certs/{{ netbird_domain }}.pem alpn h2,http/1.1
    redirect scheme https if !{ ssl_fc }

    option forwardfor
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request set-header X-Forwarded-Host %[req.hdr(Host)]

    # ACLs for routing
    acl is_grpc_mgmt path_beg /management.ManagementService/
    acl is_grpc_signal path_beg /signalexchange.SignalExchange/
    acl is_ws_signal path_beg /ws-proxy/signal
    acl is_ws_mgmt path_beg /ws-proxy/management
    acl is_relay path_beg /relay
    acl is_api path_beg /api/

    # Use backends based on ACLs
    use_backend mgmt_grpc if is_grpc_mgmt
    use_backend signal_grpc if is_grpc_signal
    use_backend signal_ws if is_ws_signal
    use_backend mgmt_ws if is_ws_mgmt
    use_backend relay_backend if is_relay
    use_backend mgmt_api if is_api

    # Default backend (Dashboard)
    default_backend dashboard_backend

backend mgmt_grpc
    mode http
    option http-use-htx
    {% for host in groups['management'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8081 check proto h2
    {% endfor %}

backend signal_grpc
    mode http
    option http-use-htx
    {% for host in groups['management'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8083 check proto h2
    {% endfor %}

backend signal_ws
    balance roundrobin
    option http-server-close
    {% for host in groups['management'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8083 check
    {% endfor %}

backend mgmt_ws
    balance roundrobin
    option http-server-close
    {% for host in groups['management'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8081 check
    {% endfor %}

backend relay_backend
    balance roundrobin
    option http-server-close
    {% for host in groups['relay'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:33080 check
    {% endfor %}

backend mgmt_api
    balance roundrobin
    {% for host in groups['management'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8081 check
    {% endfor %}

backend dashboard_backend
    balance roundrobin
    {% for host in groups['management'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8080 check
    {% endfor %}
