mimir-distributed:
  mimir:
    structuredConfig:
      multitenancy_enabled: false
      
      common:
        storage:
          backend: filesystem
          filesystem:
            dir: /data/mimir-data
      
      blocks_storage:
        backend: filesystem
        filesystem:
          dir: /data/mimir-data/blocks
        tsdb:
          dir: /data/mimir-data/tsdb
          retention_period: 720h
        bucket_store:
          sync_dir: /data/mimir-data/tsdb-sync
      
      alertmanager_storage:
        backend: filesystem
        filesystem:
          dir: /data/mimir-data/alertmanager
      
      server:
        log_level: info
      
      limits:
        ingestion_rate: 80000
        max_global_series_per_user: 0
      
      compactor:
        data_dir: /data/mimir-data/compactor
        compaction_interval: 30m
      
      ingester:
        ring:
          replication_factor: 1
  
  distributor:
    replicas: 1
  
  ingester:
    replicas: 1
    persistentVolume:
      enabled: true
      size: 3Gi
    zoneAwareReplication:
      enabled: false
  
  querier:
    replicas: 1
  
  query_frontend:
    replicas: 1
  
  store_gateway:
    replicas: 1
    persistentVolume:
      enabled: true
      size: 3Gi
    zoneAwareReplication:
      enabled: false
  
  compactor:
    replicas: 1
    persistentVolume:
      enabled: true
      size: 3Gi
  
  ruler:
    replicas: 0
    enabled: false
  
  alertmanager:
    replicas: 0
    enabled: false
  
  query_scheduler:
    replicas: 0
    enabled: false
  
  overrides_exporter:
    replicas: 1
  
  nginx:
    replicas: 1
    service:
      type: NodePort
      nodePort: 30080
    nginxConfig:
      file: |
        worker_processes  5;
        error_log  /dev/stderr {{ .Values.nginx.nginxConfig.errorLogLevel }};
        pid        /tmp/nginx.pid;
        worker_rlimit_nofile 8192;

        events {
          worker_connections  4096;
        }

        http {
          client_body_temp_path /tmp/client_temp;
          proxy_temp_path       /tmp/proxy_temp_path;
          fastcgi_temp_path     /tmp/fastcgi_temp;
          uwsgi_temp_path       /tmp/uwsgi_temp;
          scgi_temp_path        /tmp/scgi_temp;

          default_type application/octet-stream;
          log_format   {{ .Values.nginx.nginxConfig.logFormat }}

          {{- if .Values.nginx.verboseLogging }}
          access_log   /dev/stderr  main;
          {{- else }}
          map $status $loggable {
            ~^[23]  0;
            default 1;
          }
          access_log   {{ .Values.nginx.nginxConfig.accessLogEnabled | ternary "/dev/stderr  main  if=$loggable;" "off;" }}
          {{- end }}

          sendfile           on;
          tcp_nopush         on;
          proxy_http_version 1.1;

          {{- if .Values.nginx.nginxConfig.resolver }}
          resolver {{ .Values.nginx.nginxConfig.resolver }};
          {{- else }}
          resolver {{ .Values.global.dnsService }}.{{ .Values.global.dnsNamespace }}.svc.{{ .Values.global.clusterDomain }};
          {{- end }}

          {{- with .Values.nginx.nginxConfig.httpSnippet }}
          {{ . | nindent 2 }}
          {{- end }}

          map $http_x_scope_orgid $ensured_x_scope_orgid {
            default $http_x_scope_orgid;
            "" "{{ include "mimir.noAuthTenant" . }}";
          }

          map $http_x_scope_orgid $has_multiple_orgid_headers {
            default 0;
            "~^.+,.+$" 1;
          }

          proxy_read_timeout 300;
          server {
            listen 8080;
            listen [::]:8080;

            {{- if .Values.nginx.basicAuth.enabled }}
            auth_basic           "Mimir";
            auth_basic_user_file /etc/nginx/secrets/.htpasswd;
            {{- end }}

            if ($has_multiple_orgid_headers = 1) {
                return 400 'Multiple X-Scope-OrgID headers not allowed';
            }

            location = / {
              return 200 'OK';
              auth_basic off;
            }

            proxy_set_header X-Scope-OrgID $ensured_x_scope_orgid;

            location /metrics {
              set $distributor {{ template "mimir.fullname" . }}-distributor-headless.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$distributor:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }

            location /distributor {
              set $distributor {{ template "mimir.fullname" . }}-distributor-headless.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$distributor:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }
            
            location = /api/v1/push {
              set $distributor {{ template "mimir.fullname" . }}-distributor-headless.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$distributor:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }
            
            location /otlp/v1/metrics {
              set $distributor {{ template "mimir.fullname" . }}-distributor-headless.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$distributor:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }

            location {{ template "mimir.alertmanagerHttpPrefix" . }} {
              set $alertmanager {{ template "mimir.fullname" . }}-alertmanager-headless.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$alertmanager:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }

            location {{ template "mimir.prometheusHttpPrefix" . }}/config/v1/rules {
              set $ruler {{ template "mimir.fullname" . }}-ruler.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$ruler:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }

            location {{ template "mimir.prometheusHttpPrefix" . }} {
              set $query_frontend {{ template "mimir.fullname" . }}-query-frontend.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$query_frontend:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }

            location = /api/v1/status/buildinfo {
              set $query_frontend {{ template "mimir.fullname" . }}-query-frontend.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }};
              proxy_pass      http://$query_frontend:{{ include "mimir.serverHttpListenPort" . }}$request_uri;
            }

            {{- with .Values.nginx.nginxConfig.serverSnippet }}
            {{ . | nindent 4 }}
            {{- end }}
          }
        }
  
  minio:
    enabled: false
  
  memcached:
    enabled: false
  memcached-queries:
    enabled: false
  memcached-metadata:
    enabled: false
  memcached-results:
    enabled: false
  
  rollout_operator:
    enabled: true